In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv("../Data/heart_2022_clean_stepwise0.1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 32 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   SleepHours                                          246022 non-null  int64
 1   HeightInMeters                                      246022 non-null  float64
 2   GeneralHealth                                       246022 non-null  int64
 3   RemovedTeeth                                        246022 non-null  int64
 4   AgeCategory                                         246022 non-null  int64
 5   SmokerStatus_ord                                    246022 non-null  int64
 6   AlcoholDrinkers                                     246022 non-null  int64
 7   BlindOrVisionDifficulty                             246022 non-null  int64
 8   ChestScan                                           246022 non-null  int64
 9   CovidPosNo                                          246022 non-null  int64
 10  CovidPosYes                                         246022 non-null  int64
 11  DifficultyConcentrating                             246022 non-null  int64
 12  DifficultyWalking                                   246022 non-null  int64
 13  FluVaxLast12                                        246022 non-null  int64
 14  HIVTesting                                          246022 non-null  int64
 15  HadAngina                                           246022 non-null  int64
 16  HadDiabetesYes                                      246022 non-null  int64
 17  HadSkinCancer                                       246022 non-null  int64
 18  HadStroke                                           246022 non-null  int64
 19  LastCheckupTime                                     246022 non-null  int64
 20  PhysicalActivities                                  246022 non-null  int64
 21  PneumoVaxEver                                       246022 non-null  int64
 22  RaceEthnicityCategoryHispanic                       246022 non-null  int64
 23  RaceEthnicityCategoryMultiracial,_Non-Hispanic      246022 non-null  int64
 24  RaceEthnicityCategoryOther_race_only,_Non-Hispanic  246022 non-null  int64
 25  RaceEthnicityCategoryWhite_only,_Non-Hispanic       246022 non-null  int64
 26  RegionMiddle_Atlantic                               246022 non-null  int64
 27  RegionMountain_Region                               246022 non-null  int64
 28  RegionNew_England                                   246022 non-null  int64
 29  Sex                                                 246022 non-null  int64
 30  TetanusLast10Tdap                                   246022 non-null  int64
 31  HadHeartAttack                                      246022 non-null  int64
dtypes: float64(1), int64(31)
memory usage: 60.1 MB

In [11]:
# set predict and response variables
set_seed = 123
y = df['HadHeartAttack']
x = df.drop(columns=['HadHeartAttack'])

# train / test data split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=set_seed)

In [12]:
# create dataframe for training
train_df = pd.concat([x_train, y_train], axis=1)
train_df = train_df.loc[:, ~train_df.columns.str.contains('^Unnamed', regex=True)]
train_df.head()

,SleepHours,HeightInMeters,GeneralHealth,RemovedTeeth,AgeCategory,SmokerStatus_ord,AlcoholDrinkers,BlindOrVisionDifficulty,ChestScan,CovidPosNo,...,RaceEthnicityCategoryHispanic,"RaceEthnicityCategoryMultiracial,_Non-Hispanic","RaceEthnicityCategoryOther_race_only,_Non-Hispanic","RaceEthnicityCategoryWhite_only,_Non-Hispanic",RegionMiddle_Atlantic,RegionMountain_Region,RegionNew_England,Sex,TetanusLast10Tdap,HadHeartAttack
34098,7,1.65,4,1,4,2,1,0,0,1,...,0,0,0,1,0,0,0,0,2,0
68255,7,1.63,3,3,11,4,0,0,1,1,...,0,0,0,1,0,0,0,0,1,0
42301,7,1.75,4,1,5,1,1,0,0,1,...,0,0,0,1,0,0,0,1,2,0
4289,4,1.57,5,2,11,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
97983,7,1.52,3,1,5,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [13]:
# create dataframe for testing
test_df = pd.concat([x_test, y_test], axis=1)
test_df = test_df.loc[:, ~test_df.columns.str.contains('^Unnamed', regex=True)]
test_df.head()

,SleepHours,HeightInMeters,GeneralHealth,RemovedTeeth,AgeCategory,SmokerStatus_ord,AlcoholDrinkers,BlindOrVisionDifficulty,ChestScan,CovidPosNo,...,RaceEthnicityCategoryHispanic,"RaceEthnicityCategoryMultiracial,_Non-Hispanic","RaceEthnicityCategoryOther_race_only,_Non-Hispanic","RaceEthnicityCategoryWhite_only,_Non-Hispanic",RegionMiddle_Atlantic,RegionMountain_Region,RegionNew_England,Sex,TetanusLast10Tdap,HadHeartAttack
60531,7,1.68,4,1,2,2,1,0,1,1,...,1,0,0,0,0,0,0,1,1,0
97119,7,1.88,3,2,6,4,1,0,1,1,...,0,0,0,0,0,0,1,1,0,0
188179,6,1.88,5,1,4,2,1,0,0,1,...,0,0,0,1,0,0,0,1,1,0
150458,8,1.78,5,1,5,1,1,0,0,0,...,0,0,0,1,1,0,0,1,2,0
112182,8,1.65,5,2,5,1,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [14]:
# generate csv files
train_df.to_csv('../Data/train_df0.1.csv', index = False)
test_df.to_csv('../Data/test_df0.1.csv', index = False)